<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Password Reset</title>
  </head>

  <body>

    <div style='background-color:rgb(233,238,248);padding:10px;'>
      <div style='max-width:380px;margin:auto;'>
        <div padding:15px>
          <img
            width='380'
            alt='Logo'
            style='display:block;border-radius:0px;text-align:center;'
            src='https://i.pinimg.com/originals/8d/2d/1c/8d2d1c5e0ee9e5141f1fc51567dba572.png'
            tabindex='0'
          />
        </div>
        <p
          style="font-size:36px;font-family:'Georgia',serif;color:#999;text-align:center;color:#999;padding:10"
        >
          Mock FB
        </p>
        <p
          style="font-size:21px;font-family:'Trebuchet MS',Helvetica,sans-serif,sans-serif;color:#555;text-align:center;text-transform:uppercase;"
        >
          Dear
          {{name}},
        </p>

        <div style='line-height:200%;text-align:center;font-size:14px'>
          <span style='background-color:transparent;'>You requested a password
            reset.</span><br />
          <span style='background-color:transparent;'>To reset your password,
            please click the button below.</span>
          <p style='text-align:center'>
            <a
              href={{resetlink}}
              style="font-size:15px;font-family:'Lucida Sans Unicode',Lucida Grande,sans-serif;color:#ffffff;font-weight:normal;padding:10px 20px;vertical-align:middle;background-color:#b9295f;border-radius:4px;border:none;text-decoration:none;"
            >Reset my password
            </a>
          </p>
        </div>

        <div style='line-height:200%;text-align:center'>
          <span style='font-size:14px'>&nbsp;</span>
        </div>

        <div style='line-height:200%;text-align:center;font-size:14px'>
          <span>If you did not request a new password, please ignore this email.</span>
          <span>If you think this request looks suspicious, please let us know
            immediately.</span>
        </div>

        <div style='text-align:center;line-height:24px'>&nbsp;</div>
      </div>
    </div>

  </body>

</html>